#----------------------------------------------------------------------------
# 3rd-party Test Modules, Required for Acceptance Testing and Unit Testing
#----------------------------------------------------------------------------
attrs==20.3.0
behave==1.2.6 
iniconfig==1.1.1 
packaging==20.9 
parse==1.19.0 
parse-type==0.5.2 
pluggy==0.13.1 
py==1.10.0 
pyparsing==2.4.7 
pytest==6.2.3 
six==1.15.0 
toml==0.10.2
#----------------------------------------------------------------------------
# 3rd-party Test Modules, Required for Selenium Testing
#----------------------------------------------------------------------------
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
configparser==5.0.2
crayons==0.4.0
idna==2.10
requests==2.25.1
selenium==3.141.0
urllib3==1.26.4
webdriver-manager==3.3.0
#----------------------------------------------------------------------------

